<div class="row">

  @if (events.length === 0) {
  <h3>No hay eventos disponibles</h3>
  } @else {
  <form class="mt-4" (ngSubmit)="addEvent()">

    <div class="form-group">
      <label>Nombre</label>
      <input class="form-control" name="title" [(ngModel)]="newEvent.title">
    </div>

    <div class="form-group">
      <label>Fecha</label>
      <input type="date" class="form-control" name="date" [(ngModel)]="newEvent.date">
    </div>

    <div class="form-group">
      <label>Descripción</label>
      <textarea class="form-control" rows="3" name="description" [(ngModel)]="newEvent.description"></textarea>
    </div>

    <div class="form-group">
      <label>Precio</label>
      <input type="number" class="form-control" name="price" [(ngModel)]="newEvent.price">
    </div>

    <div class="form-group">
      <label>Imagen</label>
      <input type="file" class="form-control" #fileImage (change)="changeImage(fileImage)">
    </div>

    <img [src]="newEvent.image" class="img-thumbnail mb-3">

    <button type="submit" class="btn btn-primary">Create</button>
  </form>
  @for (event of events; track event.title) {
  <div class="col-5 mt-4">
    <div class="card">
      <img src="{{event.image}}" alt="" class="card-img-top">
      <div class="card-body">

        <h4 class="card-title">{{ event.title | titlecase }}</h4>
        <p class="card-text">{{ event.description }}</p>

      </div>
      <div class="card-footer d-flex justify-content-between"> <!--Textos separados mediante Bootstrap-->
        {{ event.date | date : 'dd/MM/y' }}
        <span class="text-muted">
          {{ event.price | currency : 'EUR' : 'symbol'}}
        </span>
      </div>
    </div>
  </div>
  }
  }

</div>